
body {
    background-color: #29a3a3;
}

header.title {
    display: flex;
    justify-content: center;
}

header.title h1 {
    margin: 0.3em auto;
}

.root-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.root-container> section {
    width: 80%;
    max-width: 500px;
    margin: 0.25em;
    background-color: white;
}

.flex-item {
    padding: 1em;
    border: 1px solid #c1ced7;
    border-radius: 0.2em;
}

/* Balance */
span.balance {
    font-weight: bold;
}

div.summary {
    display: flex;
    flex-direction: row;
    margin-top: 0.5em;
}

.flex-item-equal {
    width: 50%;
}

/* History */
.history-container {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #c1ced7;
    height: 120px;
    overflow-y: auto;

}

.history-row {
    display: flex;
    flex-direction: row;
    text-align: center;
    border: 1px solid #c1ced7;
    border-bottom: 0px;
}

.history-row > span {
    width: 33%;
}

/* Transactions */

div.form-control {
    display: inline;
}

div.form-control > input {
    border: 1px solid #c1ced7;
    border-radius: 0.25em;
    padding:0.5em;
    margin-bottom: 0.5em;

}

div.form-control > #amount {
    max-width: 6em;
}

div.form-control > small {
    visibility: hidden;
}

div.form-control.error small {
    visibility: visible;
    color: red;
}

.form-control.success small {
    visibility: visible;
    color: darkgreen;
}